*{
    padding: 0;
    margin: 0;

}

.navBar{
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;

}

.container a{
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    user-select: none;
}

.fondoInicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    height: 699px;
}


.fotoInicio img{
    overflow: hidden;
    max-width: 506px;

}

.textoInicio{
    max-width: 500px;
    color: #FFFFFF;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}